* {
    margin: 0;
}
html, body {
    height: 100%;
}

.card{
        padding: 0 !important;
        margin: 5 !important; 
      }
      .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }   

/* .el {
  white-space: nowrap; 
  width: 60%; 
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  line-height: 30px;
  box-sizing: border-box;
  pointer-events:none;
} */






/*
.ellipsis1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis2{
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis3{
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
*/





.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}


