<!-- Dropdown menu for levels-->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">N1</a></li>
        <li><a href="#!">N2</a></li>
        <li class="divider"></li>
        <li><a href="#!">OTHERS</a></li>
      </ul>

      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue lighten-2">
            <a href="#!" class="brand-logo center blue-grey-texts"><i class="material-icons">cloud</i>JLPT  N1</a>
            <ul class="right hide-on-med-and-down">
              <li>Flip Quiz</li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Levels<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </nav>
      </div>